.bg-motostatus {
    background-color: #4d375d;
}

.bg-motostatus-dark {
    background-color: #121013;
}
.color-motostatus {
    color: #4d375d;
}

.color-secondary {
    background-color: #ffe227;
}

.btn-link {
    background-color: #eb596e;
    color: #FFF;
    border-color: #eb596e;
    &:hover {
        background-color: #eb596e;
        color: #FFF;
        border-color: #eb596e;
    }
}

.btn-motostatus-info {
    background-color: #ffe227;
    color: #121013;
    border-color: #ffe227;
    &:hover {
        background-color: #ffe227;
        color: #121013;
        border-color: #ffe227;
    }
}

ul.pagination {
	justify-content: center;
	.page-item.active .page-link {
		background-color: #4d375d;
		border-color: #FFF;
		color: rgba(255,255,255,.8);
	}
	.page-item .page-link {
		color: #4d375d;
	}
}

.card-home {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;

    .link-cards {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        color: #121013;
        font-weight: bold;
        font-size: 21px;
        text-decoration: none;
    }
}

// Yellow ffe227
// Dark 121013
// Red eb596e
// Blue Dark 4d375d

