.bg-motostatus {
    background-color: #4d375d;
}

.bg-motostatus-dark {
    background-color: #121013;
}
.color-motostatus {
    color: #4d375d;
}

.btn-link {
    background-color: #eb596e;
    color: #FFF;
    border-color: #eb596e;
    &:hover {
        background-color: #eb596e;
        color: #FFF;
        border-color: #eb596e;
    }
}

// Yellow ffe227
// Dark 121013
// Red eb596e
// Blue Dark 4d375d

